* {
  box-sizing: border-box;
}

/* header container css */

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 2%;
  background-color: var(--bg--color);
  border-bottom: 1px solid var(--bg-secondary-color);
}

.header-container h2 {
  margin: 0;
  color: var(--text-color);
  font-size: 700;
}

.header-container a {
  display: inline-block;
  padding: 7px 20px;
  background-color: var(--primary-color);
  text-decoration: none;
  color: var(--text-color);
  border-radius: 4px;
  font-size: 15px;
}

.header-container a:hover {
  background-color: transparent;
  border: 1px solid var(--primary-color);
}

/* Main container css */
.main-container {
  display: grid;
  grid-template-columns: 1fr 450px;
  padding: 2% 5%;
  gap: 20px;
  align-items: start;
}

/* Payment container css */

.payment-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 5%;
  border: 1px solid var(--bg-secondary-color);
  background-color: var(--bg--color);
  border-radius: 4px;
  height: fit-content;
  position: sticky;
  top: 16px;
}

.payment-container h2 {
  margin: 0;
  color: var(--primary-color);
}

.payment-subcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.payment-subcontainer h3,
.payment-subcontainer p {
  margin: 0;
  color: var(--text-color);
  font-size: 14px;
}

.payment-subcontainer h3 {
  font-weight: 400;
  opacity: 0.6;
}

.payment-subcontainer input {
  display: inline-block;
  flex: 1;
  padding: 10px 14px;
  background: transparent;
  border: 1px solid var(--bg-secondary-color);
  outline: none;
  color: var(--text-color);
  font-family: "Space Grotesk", sans-serif;
  font-size: 13px;
  border-radius: 4px;
}

.payment-subcontainer button {
  padding: 10px 15px;
  background: var(--primary-color);
  border: none;
  color: var(--text-color);
  font-family: "Space Grotesk", sans-serif;
  cursor: pointer;
  border-radius: 4px;
}

#checkout-btn {
  width: 100%;
  padding: 13px;
  background: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  color: #fff;
  font-family: "Space Grotesk", sans-serif;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.payment-subcontainer button:hover,
#checkout-btn:hover {
  opacity: 0.7;
}

.checkout-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  border-top: 1px solid var(--bg-secondary-color);
  padding-top: 2%;
}

/* card container css */

.card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid var(--bg-secondary-color);
  background-color: var(--bg--color);
  border-radius: 4px;
  padding: 1%;
}

.image-container {
  width: 120px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--text-color);
  flex-shrink: 0;
}

.product-details {
  flex: 1;
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-details h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: var(--text-color);
}

.product-details p {
  margin: 0;
  font-size: 20px;
  color: var(--primary-color);
  margin-top: 5px;
  font-weight: 700;
}

.product-details-1 p {
  margin: 0;
  font-size: 13px;
  color: var(--text-color);
  opacity: 0.7;
  margin-top: 5px;
  font-weight: 300;
}

.product-button {
  height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: 12px;
}

.product-button button {
  background: transparent;
  background-color: rgb(255, 46, 46);
  color: var(--text-color);
  border: none;
  font-family: "Space Grotesk", sans-serif;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 13px;
}

.product-button button:hover {
  opacity: 0.7;
}

#qty-btn {
  width: 30px;
  height: 30px;
  padding: 0;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid var(--primary-color);
}

.qty-count {
  display: inline-block;
  min-width: 28px;
  text-align: center;
  color: var(--text-color);
  font-size: 14px;
}

.empty {
  display: none;
}

/* Loading container css */

.loading-content {
  border: 1px solid var(--bg-secondary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  height: 300px;
}

.loading-content h3 {
  margin: 0;
  font-size: 20px;
  color: var(--primary-color);
}

.loading-content p {
  margin: 0;
  font-size: 15px;
  color: var(--text-color);
}

.cart-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.qty-count {
  color: var(--text-color);
  font-weight: 500;
}

.empty {
  display: none;
}

/* popup container css*/

#add-task-success {
  display: none;
  opacity: 0;
}

#add-task-success:target {
  display: flex;
  opacity: 1;
}

.popup-at-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.at-popup {
  position: relative;
  width: clamp(300px, 30vw, 400px);
  background-color: var(--bg--color);
  border: 1px solid var(--bg-secondary-color);
  border-radius: 2px;
  padding: 2%;
  box-sizing: border-box;
}

.at-sub-popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--bg-secondary-color);
  padding: 2%;
  border-radius: 2px;
}

.at-sub-popup-header h2 {
  font-size: 20px;
  color: var(--text-color);
  margin: 0;
}

.at-sub-popup-header a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: var(--text-color);
  background-color: rgb(255, 44, 44);
  padding: 4px 8px;
}

.at-sub-popup-header a:hover {
  opacity: 0.8;
}

.at-sub-popup {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.at-sub-popup p {
  color: var(--text-color);
  font-size: 14px;
  margin: 0;
  margin-top: 50px;
}

.at-popup-buttons {
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}

.at-popup-buttons a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.task-complete-button {
  display: inline-block;
  padding: 10px 10px;
  font-size: 12px;
  font-family: "Space Grotesk", sans-serif;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--text-color);
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.task-delete-button {
  text-decoration: none;
  display: inline-block;
  padding: 10px 10px;
  font-size: 12px;
  font-weight: 700;
  font-family: "Space Grotesk", sans-serif;
  background-color: transparent;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 2px;
  cursor: pointer;
}

.task-complete-button:hover,
.task-delete-button:hover {
  opacity: 0.8;
}

/* Responsive css */
@media (max-width: 1024px) {
  .main-container {
    grid-template-columns: 1fr;
    padding: 2%;
  }

  .filter-container {
    position: static;
  }

  .card-container {
    gap: 10px;
  }

  .header-container {
    padding: 5%;
  }

  .loading-content {
    padding: 20% 10%;
  }
}
